     <h1>Register Now:</h1>

          <div class="alert alert-danger" *ngIf="errorMessage">
               {{errorMessage}}
          </div>     
     <form (ngSubmit)="sumbitRegister(registerForm)" [formGroup]="registerForm">
               <!-- {{registerForm.get('name')?.errors | json}} -->
          
               <div class="my-2">
               <label for="name">name</label>
               <input type="text" class="form-control" formControlName="name" name="name" id="name">
               
               <div  *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
                    <p *ngIf="registerForm.get('name')?.errors?.['required']">Name Required</p>
                    <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Name min length 3</p>
                    <p *ngIf="registerForm.get('name')?.errors?.['maxlength']">Name max length 20 </p>
               </div>
          </div>
          <div class="my-2">
               <label for="email">email</label>    
               <input type="text" formControlName="email" class="form-control" name="email" id="email">
                    <div *ngIf="registerForm.get('email')?.errors &&  registerForm.get('email')?.touched" class="alert alert-danger" > 
                         
                         <p *ngIf="registerForm.get('email')?.errors?.['required']">Email Required</p>
                         <p *ngIf="registerForm.get('email')?.errors?.['email']">Email Not Vaild</p>
                    </div>
               
          
          </div>
          <div class="my-2">
               <label for="password">password</label>
               <input type="password" formControlName="password" class="form-control" name="password" id="password">
               <div *ngIf="registerForm.get('password')?.errors &&  registerForm.get('password')?.touched" class="alert alert-danger" > 
                         
                    <p *ngIf="registerForm.get('password')?.errors?.['required']">password Required</p>
                    <p *ngIf="registerForm.get('password')?.errors?.['pattern']">password Not Matched</p>
               </div>
          </div>
          <div class="my-2">
               <label for="rePassword">rePassword</label>
               <input type="password" formControlName="rePassword" class="form-control" name="rePassword" id="rePassword">
               <div *ngIf="registerForm.get('rePassword')?.errors &&  registerForm.get('rePassword')?.touched" class="alert alert-danger" > 
                         
                    <p *ngIf="registerForm.get('rePassword')?.errors?.['required']">rePassword Required</p>
                    <p *ngIf="registerForm.get('rePassword')?.errors?.['pattern']">rePassword Not Valid</p>
                    <p *ngIf="registerForm.get('rePassword')?.errors?.['rePassword']">rePassword Not Matched</p>
               </div>
          </div>
          <div class="my-2">
               <label for="phone">Phone</label>
               <input type="tel" class="form-control" formControlName="phone" name="phone" id="phone">
               <div *ngIf="registerForm.get('phone')?.errors &&  registerForm.get('phone')?.touched" class="alert alert-danger" > 
                         
                    <p *ngIf="registerForm.get('phone')?.errors?.['required']">phone Required</p>
                    <p *ngIf="registerForm.get('phone')?.errors?.['pattern']">phone Not Vaild</p>
               </div>
          </div>
          <button  *ngIf="!loading"   type="submit" [disabled]="!registerForm.valid" class="btn btn-success ms-auto d-flex">Register</button>
          <button *ngIf="loading" type="button" class="btn btn-success ms-auto d-flex">
               <i class="fa-solid fa-spinner fa-spin"></i>
          </button>
          
          </form>

<!-- <input type="text" name="" id="" [formControl]="searchInput">
(click)="sumbitRegister(registerForm)"   -->