<div class="row justify-content-center d-flex">

<div class="col-md-9 w-25 " >
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide> 
               <img src="assets/images/images/41nN4nvKaAL._AC_SY200_.jpg" class="w-100 mainimg" alt="">
        </ng-template>  
        <ng-template carouselSlide> 
               <img src="../../../assets/images/images/61cSNgtEISL._AC_SY200_.jpg" class="w-100 mainimg" alt="">
        </ng-template>  
        <ng-template carouselSlide> 
               <img src="../../../assets/images/images/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg" class="w-100 mainimg" alt="">
        </ng-template>   
      </owl-carousel-o>
</div>
<div class="col-md-3">
    <img src="assets/images/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" class="w-100 smallimg" alt="">
    <img src="assets/images/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" class="w-100 smallimg" alt="">
   

</div>
</div>
