<div class="py-5">
  <div class="row  g-3">
      
      
      <div class="col-md-2" *ngFor="let product of categories ">
            <div  class="product cursor-pointer">
             <div [routerLink]="['/productdetails',product._id,product]">
                <img [src]="product.imageCover" class="w-100 " alt="">
                <p class="text-main">{{product.category.name}}</p>
                <h6>{{product.title.split(" ").slice(0,1).join(" ")}}</h6>
                <div class="d-flex justify-content-between">
                    <span>{{product.price}}EGP</span>
                    <span>
                        <i class="fa-solid fa-star rating-color"></i>

                        {{product.ratingsAverage}}
                    </span>
                </div>
            </div>
            <!-- <button class="btn btn-success w-100" (click)="addCart(product._id)">Add to Cart</button> -->
        </div>
        </div>
  </div>
</div>
