<div class="forgetpassword"> 
    <form class="my-5" (ngSubmit)="ForgetPasswordSubmit(ForgetPassword)" [formGroup]="ForgetPassword">

        <label for="">Enter Email</label>
        <input formControlName="email" type="text" class="form-control my-3" placeholder="Email">
        
        <div class="alert alert-danger" *ngIf="ForgetPassword.get('email')?.errors && ForgetPassword.get('email')?.touched">
            <p *ngIf="ForgetPassword.get('email')?.errors?.['requierd']">Email Requierd</p>
            <p  *ngIf="ForgetPassword.get('email')?.errors?.['email']">Enter Valid Email</p>
        </div>
        <button [disabled]="!ForgetPassword.valid" class="btn btn-success">Send Code</button>
    
    
    
    </form>
</div>

<div class="resetcode d-none my-5">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <form [formGroup]="ResetCode" (ngSubmit)="resetCodesbumit(ResetCode)">
        <label for="ResetCode">ResetCode</label>
        <input formControlName="resetCode" type="text" class="form-control my-2" id="ResetCode">

           
        <div class="alert alert-danger" *ngIf="ResetCode.get('resetCode')?.errors && ResetCode.get('resetCode')?.touched">
            <p *ngIf="ResetCode.get('resetCode')?.errors?.['requierd']">resetCode Requierd</p>
            <p  *ngIf="ResetCode.get('resetCode')?.errors?.['pattern']">Enter Valid resetCode</p>
        </div>
        <button [disabled]="!ResetCode.valid" class="btn btn-success my-2">Verify Code</button>
    </form>

</div>